site_name: Bubbletrail
site_url: https://bubbletrail.app/
repo_url: https://github.com/bubbletrail/bubbletrail
theme:
  name: material
  logo: assets/logo.png
  favicon: assets/logo.png
  palette:
    scheme: slate
    primary: teal
    accent: lime
extra:
  generator: false
markdown_extensions:
  - admonition
